.gradle
.idea
build/
local.properties
gradle/wrapper/gradle-wrapper.jar
gradlew
gradlew.bat
image.png
*.hprof

# Android specific
.cxx
Captures/
*.apk
*.aar
*.jks
*.keystore
*.google_services.json
google-services.json

# Build outputs
*/build/**
